<ng4-loading-spinner> </ng4-loading-spinner>
<section class="material-half-bg">
  <div class="cover"></div>
</section>
<section class="login-content" id="DivBody">
  <div class="text-warning">
    <br/>
    <h1>Pattani Smart Kids</h1>
  </div>
  <div class="text-white">
    <h3>Health Promotion Plan</h3>
    <br />
  </div>
  <div class="login-box">
    <form class="login-form" [formGroup]="myForm" novalidate>
      <h3 class="login-head"><i class="fa fa-lg fa-fw fa-user"></i>ระบุวันแรกเกิด</h3>
      <div class="form-group">
        <my-date-picker-th name="mydate" [options]="myDatePickerOptions" formControlName="myDate" (dateChanged)="onDateChanged($event)">
        </my-date-picker-th>
      </div>
      <div class="form-group">
        <input class="form-control" type="text" placeholder="ชื่อ - นามสกุล" formControlName="name">
      </div>
      <div class="form-group">
        <textarea  class="form-control" type="text" placeholder="ที่อยู่" formControlName="address" rows="5"></textarea>
      </div>
      <div class="form-group">
        <div class="form-group btn-container">
          <button (click)="print()" [disabled]="!showPlan" class="btn btn-primary btn-block"><i class="fa fa-print"></i>พิมพ์</button>
          <!--<a class="btn btn-primary" href="javascript:window.print();" target="_blank">
            <i class="fa fa-print"></i> Print
          </a>-->
        </div>
      </div>
    </form>
  </div>

  <br />
  <br />
</section>
<div class="col-md-12" *ngIf="showPlan"  id="convert">
  <div class="tile">
    
    <div class="form-group" style="text-align: right">
      <h4 style="text-align: left">Pattani Smart Kids (Health Promotion Plan) แผนการดูแลเด็ก 0-5 ปี สู่เด็กปัตตานีสุขภาพดี เก่งดีมีวินัย (ปัตตานีสมาร์ทคิดส์)</h4>
      <label class="control-label" *ngIf="myForm.controls.name.value"><strong>ชื่อเด็ก</strong>&nbsp;{{ myForm.controls.name.value }}</label>
      <label class="control-label" *ngIf="myForm.controls.address.value && myForm.controls.name.value"><strong>&nbsp;ที่อยู่</strong>&nbsp;{{ myForm.controls.address.value }}</label>
    </div>
    <table class="table table-hover" >
      <thead>
        <tr class="table-warning">
          <th>ช่วงอายุ</th>
          <th>อายุ</th>
          <th>วันที่มารับบริการ</th>
          <th style="text-align: center">กิจกรรม</th>
        </tr>
      </thead>
      <tbody>
        <tr class="table" *ngFor="let plan of plans">
          <td class="table-success">{{plan.ageLength}} ปี</td>
          <td class="table-light">{{plan.age}}</td>
          <td class="table-info">{{plan.visit_date | amDateFormat:'DD/MM'}}/{{YearThai(plan.visit_date | amDateFormat:'YYYY')}}</td>
          <td class="table-light" [innerHTML]="plan.activity"></td>
        </tr>
        <tr class="table-warning">
          <td colspan="4">เด็ก 0-5 ปี ได้รับการประเมินภาวะโภชนาการ และการเจริญเติบโต (ชั่งน้ำหนัก วัดส่วนสูง) ในเดือนตุลาคม มกราคม เมษายน และกรกฎาคมของทุกปี</td>
        </tr>
        <tr >
          <td style="text-align: right" colspan="4"><br/>นักจัดการสุขภาพประจำตัวเด็ก  : .........................................................เบอร์ติดต่อ : ...............................................</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
