<section class="material-half-bg">
  <div class="cover"></div>
</section>
<section class="login-content" id="DivBody">
  <div class="text-warning">
    <br />
    <h1>Pattani Smart Kids</h1>
  </div>
  <div class="text-white">
    <h3>Health Promotion Plan</h3>
  </div>
  <br />
  <div class="login-box">
    <form class="login-form" [formGroup]="myForm" novalidate>
      <h4 class="login-head"><i class="fa fa-lg fa-fw fa-user"></i>ระบุวันแรกเกิด</h4>
      <div class="form-group">
        <my-date-picker-th name="mydate" [options]="myDatePickerOptions"  [(ngModel)]="today" formControlName="myDate" (dateChanged)="onDateChanged($event)">
        </my-date-picker-th>
      </div>
      <!--<div class="input-group mb-3">
        <input type="text" class="form-control" #searchPID placeholder="เลขบัตรประชาชน" aria-describedby="basic-addon2">
        <div class="input-group-append">
          <button class="btn btn-primary icon-btn" (click)="onSearchPid(searchPID.value)" type="button"><i class="fa fa-search"></i>ค้นหา</button>
        </div>
      </div>-->
      <div class="form-group">
        <select class="form-control" (change)="SetClinicDay()" formControlName="clinicDay">
          <option value="1" selected>มารับบริการทุกวันจันทร์</option>
          <option value="2">มารับบริการทุกวันอังคาร</option>
          <option value="3">มารับบริการทุกวันพุธ</option>
          <option value="4">มารับบริการทุกวันพฤหัสบดี</option>
          <option value="5">มารับบริการทุกวันศุกร์</option>
        </select>
      </div>
      <div class="form-group">
        <input class="form-control" type="text" placeholder="ชื่อ - นามสกุล" formControlName="name">
      </div>
      <div class="form-group">
        <textarea class="form-control" type="text" placeholder="ที่อยู่" formControlName="address" rows="2"></textarea>
      </div>
      <div class="form-group">
        <input class="form-control" type="text" placeholder="ชื่อ - นามสกุลเจ้าหน้าที่" formControlName="nameEmp">
      </div>
      <div class="form-group">
        <input class="form-control" type="text" placeholder="เบอร์ติดต่อเจ้าหน้าที่" formControlName="telEmp" >
      </div>
      <div class="form-group">
        <div class="form-group btn-container">
          <button (click)="print()" [disabled]="!showPlan" class="btn btn-danger btn-block"><i class="fa fa-print"></i>พิมพ์</button>
          <!--<a class="btn btn-primary" href="javascript:window.print();" target="_blank">
            <i class="fa fa-print"></i> Print
          </a>-->
        </div>
      </div>
      <div class="form-group" style="text-align: center">
        <a href="./assets/shareds/SmartKidsHealthPromotionPlan.pdf" >
          คู่มือการใช้งาน
        </a>
      </div>
    </form>
  </div>

  <br />
  <br />
</section>

<div class="col-md-12" *ngIf="showPlan" id="convert">
  <div class="tile">

    <div class="form-group" style="text-align: right">
      <div class="row">
        <div class="col-md-11">
          <h4 style="text-align: left">Pattani Smart Kids (Health Promotion Plan) แผนการดูแลเด็ก 0-5 ปี
            สู่เด็กปัตตานีสุขภาพดี เก่งดีมีวินัย (ปัตตานีสมาร์ทคิดส์)</h4>
        </div>
        <div class="col-md-1"><strong>{{toDay()}}</strong></div>
      </div>


      <label class="control-label" *ngIf="myForm.controls.name.value"><strong>ชื่อเด็ก</strong>&nbsp;{{
        myForm.controls.name.value }}</label>
      <label class="control-label" *ngIf="myForm.controls.address.value && myForm.controls.name.value"><strong>&nbsp;ที่อยู่</strong>&nbsp;{{
        myForm.controls.address.value }}</label>
    </div>
    <table class="table table-hover">
      <thead>
        <tr class="table-warning">
          <th>ช่วงอายุ</th>
          <th>อายุ</th>
          <th>วันที่มารับบริการ</th>
          <th style="text-align: center">กิจกรรม</th>
        </tr>
      </thead>
      <tbody>
        <tr class="table" *ngFor="let plan of plans index as i">
          <td class="table-success">{{plan.ageLength}} ปี</td>
          <td class="table-light">{{plan.age}}</td>
          <td class="table-info">วัน{{plan.dateThai}} ที่ {{plan.visit_date |
            amDateFormat:'DD/MM'}}/{{YearThai(plan.visit_date | amDateFormat:'YYYY')}}</td>
          <td class="table-light" [innerHTML]="plan.activity"></td>
        </tr>
        <tr class="table-warning">
          <td colspan="4">เด็ก 0-5 ปี ได้รับการประเมินภาวะโภชนาการ และการเจริญเติบโต (ชั่งน้ำหนัก วัดส่วนสูง)
            ในเดือนตุลาคม มกราคม เมษายน และกรกฎาคมของทุกปี</td>
        </tr>
        <tr>
          <td style="text-align: left"><br />v1.1</td>
          <td style="text-align: right" colspan="3">
            <br />
            <label class="control-label" *ngIf="myForm.controls.nameEmp.value"> <strong>นักจัดการสุขภาพประจำตัวเด็ก :</strong> {{myForm.controls.nameEmp.value }}</label> 
              <label class="control-label" *ngIf="!myForm.controls.nameEmp.value"> <strong>นักจัดการสุขภาพประจำตัวเด็ก :</strong> ...............................................................</label> 
              <label class="control-label" *ngIf="myForm.controls.telEmp.value"> <strong>&nbsp;เบอร์ติดต่อ :</strong> {{myForm.controls.telEmp.value }}</label> 
              <label class="control-label" *ngIf="!myForm.controls.telEmp.value"> <strong>&nbsp;เบอร์ติดต่อ :</strong> ..........................................................</label> 
            </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>



