<section class="material-half-bg">
  <div class="cover"></div>
</section>
<section class="login-content">
  <div class="logo">
    <h1>Vali</h1>
  </div>
  <div class="login-box">
    <form class="login-form" [formGroup]="myForm" novalidate >
      <h3 class="login-head"><i class="fa fa-lg fa-fw fa-user"></i>SIGN IN</h3>
      <div class="form-group">
        <my-date-picker-th name="mydate" [options]="myDatePickerOptions" formControlName="myDate" (dateChanged)="onDateChanged($event)">
        </my-date-picker-th>
      </div>
      <div class="form-group">
        <div class="form-group btn-container">
          <button class="btn btn-primary btn-block"><i class="fa fa-sign-in fa-lg fa-fw"></i>SIGN IN</button>
        </div>
      </div>
    </form>
  </div>


  
<div class="col-md-12">
  <div class="tile">
    <h3 class="tile-title">Contextual Classes</h3>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>ช่วงอายุ</th>
          <th>อายุ</th>
          <th>วันที่มารับบริการ</th>
          <th>กิจกรรม</th>
        </tr>
      </thead>
      <tbody>
        <tr class="table" *ngFor="let plan of plans" >
          <td>{{plan.ageLength}} ปี</td>
          <td>{{plan.age}}</td>
          <td>{{plan.visit_date | amDateFormat:'DD/MM'}}/{{YearThai(plan.visit_date | amDateFormat:'YYYY')}}</td>
          <td [innerHTML] = "plan.activity"></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
